@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=TASA+Orbiter:wght@700&display=swap');

/* Color Scheme:
    Navy: 384B70
    Teal: 507687
    Whitesmoke: FCFAEE
    Red: B8001F
*/


html, body {
  @apply font-orbiter text-[#384B70];
}

.link{
    @apply text-[#B8001F] underline decoration-[#B8001F] decoration-2
}

.headshot {
    @apply rounded-full shadow-xl lg:w-44 lg:h-44 w-28 h-28 object-contain;
}
.intro{
    @apply flex flex-col md:flex-row items-center justify-center w-full md:w-9/12 xl:w-6/12 mb-10
}

.headerOverall {
    @apply bg-[#FCFAEE] font-bold text-[#384B70] 
           pt-56 md:pt-56 pb-12 md:pb-14 flex items-center justify-center;
}


.headerTitle {
    @apply text-5xl md:text-9xl underline decoration-[#B8001F] [text-decoration-thickness:3px] transition-colors duration-300 ease-in-out
}

.headerTitle:hover {
    @apply text-[#B8001F] decoration-[#384B70]
}

.headerText {
    @apply text-xl md:text-3xl
}

.footerOverall{
    @apply font-semibold text-3xl text-[#B8001F] pt-1 pb-1 flex
}

.hoverHeader {
  @apply relative inline-block cursor-pointer;
}

.hoverHeader::after {
  content: '';
  @apply absolute left-0 bottom-0 h-[2.5px] w-full bg-[#B8001F] 
         origin-left scale-x-0 transition-transform duration-300;
}

.hoverHeader:hover::after {
  @apply scale-x-100;
}


.Card {
    @apply w-11/12 md:w-10/12 text-[#FCFAEE] font-semibold text-lg pb-3 md:pb-5
}
.CardTitle{
    @apply font-bold text-5xl text-[#384B70] mt-3 flex items-center justify-center underline decoration-[#B8001F] [text-decoration-thickness:3px]
}

.CardDesc{
    @apply text-[#384B70] mt-3 pl-7 md:pl-10 font-semibold text-lg pr-7 md:pr-10
}



.Tag{
    @apply text-[#FCFAEE] bg-[#B8001F] p-0.5 px-1.5 h-fit w-fit rounded-md transition-all duration-500 hover:text-[#B8001F] hover:bg-[#FCFAEE] cursor-default
}

.hoverFooter{
    @apply cursor-pointer transition-all duration-200 hover:opacity-100 hover:transform hover:translate-y-[-5px];
}



.prose-centered h1,
.prose-centered h2,
.prose-centered img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.prose h2 {
    @apply my-3
}

.prose-img img {
    border-radius: 1em;
    box-shadow: 1em;
    margin-bottom: 0;
    width: 85%;
}


.prose ul {
  @apply list-disc marker:text-[#FCFAEE];
}

.prose p{
    text-indent: 2rem;
}